body {
    background: #BDBDBD;
    margin: 0;
    flex-direction: column;
}

div{
    box-sizing: border-box;
}

.header {
    background: white;
    padding: 1px;
    height: auto;

}

div.post {
    background: white;
    margin-top: 10px;
}

div.post img{
    width: 100%;
}

div.post .post-header div:first-child {
    display: inline-block;
    width: 80%;
}

div.post .post-header div:last-child {
    display: inline-block;
    width: 19%;
    padding: 10px;
    text-align: right;
}

div.post h2, div.post p {
    padding: 10px;
}

div.container {
    background-color: #ffffff;
    width: 600px;
    margin: auto;
}